*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}
body{
    overflow-x: hidden;
    background-image: url(./img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 400px;
}
.nama{
    display: inline-block;
    position: relative;
}
.box{
    margin-top: 80px;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.nama p{
    border: 3px solid #000968;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    height: 40px;
    line-height: 15px;
}
.nama img{
    display: none;
    position: absolute;
    top: -30px;
    width: 100px;
    border-radius: 50px;
}
.nama:hover img{
    display: block;
}
.nama blockquote{
    display: none;
}
.quotes{
    position: fixed;
    bottom: 0;
    left: 10vw;
    text-align: center;
    margin: auto;
    width: 80vw;
    background-color: white;
    border-radius: 30px 30px 0 0;
    z-index: 10;
    padding: 10px;
    padding-bottom: 20px;
}
.quotes img{
    width: 60px;
    border-radius: 30px;
}
.quotes p{
    margin-top: -40px;
    font-size: 15px;
}
.feb{
    position: relative;
    background-color: rgb(255, 255, 255);
    top: -45px;
    border-radius: 50%;
    width: 30vw;
    left: 25vw;
    padding: 15px;
}

@media screen and (max-width: 800px) {
    .quotes{
        font-size: 10px;
        padding: 10px;
        padding-top: 0px;
        width: 90vw;
        left: 5vw;
    }
    .quotes p{
        font-size: 10px;
    }
    .feb{
        background-color: rgb(255, 255, 255);
        top: -50px;
        width: 60vw;
        left: 13vw;
    }
  }
